* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.burgerIcon {
  font-size: 24px;
  margin-left: 10px;
}

.user-profile-button {
  padding: 5px 10px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.user-content {
  display: none;
  position: absolute;
  top: 40px;
  right: 10px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-content a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 5px 0;
}

.user-content a:hover {
  background-color: #f2f2f2;
}

.ad-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#ad-container.left {
  justify-content: flex-start;
}

#ad-container.right {
  justify-content: flex-end;
}

.ad-container img {
  max-width: 100%;
  height: auto;
}

.login-container {
  width: 500px;
  margin: 100px auto 20px;
  padding: 50px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo-container img {
  max-width: 150px;
  height: auto;
}

.form-container {
  margin: 0 auto;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 2px solid #2196f3;
  border-radius: 30px;
  outline: none;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.form-group input:focus {
  border-color: #4CAF50;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.form-group label {
  position: absolute;
  left: 10px;
  top: 14px;
  font-size: 16px;
  color: #8e8e8e;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.form-group input:focus + label,
.form-group input:valid + label {
  top: -20px;
  font-size: 20px;
  color: #4CAF50;
}

.forgot-password {
  display: block;
  text-align: center;
  margin: 8px auto;
  font-size: 20px;
  font-family: Apple Chancery, cursive;
  color: blue;
  border: none;
  background-color: transparent; 
}



.login-btn {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 2px solid #2196f3;
  border-radius: 30px;
  background-color: #2196f3;
  color: #fff;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.login-btn:hover {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  flex-shrink: 0;
}


#footerRuler {
  position: absolute;
  bottom: -10px;
  width: 99%;
}

.footerButton {
  position: absolute;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  z-index: 2;
  bottom: -40px;
  background-color: black;
  color: white;
  font-size: 16px;
}

#toAbout {
  left: 18%;
}

#toFaqs {
  left: 28%;
}

.copyright {
  font-size: 16px;
  position: absolute;
  bottom: -38px;
  right: 18%;
}
