* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* color: black; */
    font-size: 18px;
    /* font-family: Arial, Helvetica, sans-serif; */
}

footer {
    width: 100%;
    position: relative;
    bottom: 0px;
}


.aboutWebsite {
    width: 18%;
    margin: 20px auto;
}

.PPlogo {
    display: inline-block;
    object-fit: fill;
    border: 2px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.title {
    display: inline-block;
    font-size: 48px;
}

.logo {
    object-fit: fill;
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

a.memberSocial {
    width: 50px;
    display: inline-flex;
    /* float: left; */
    /* display: none; */
}

.descriptionContainer {
    width: 66%;
    margin: auto auto;
    text-align: center;
}

.description {
    font-weight: lighter;
    text-align: justify;
}

.aboutTeam {
    width: 66%;
    margin: 50px auto;
    text-align: center;
}

.meet {
    margin-bottom: 20px;
    font-size: 30px;
}

.memberCard {
    border: 2px solid black;
    float: left;
    margin: 0 35px;
    width: 300px;
    border-radius: 10px;
}

.member1 {
    background-color: lightgreen;
}

.member2 {
    background-color: palevioletred;
}

.member3 {
    background-color: lightblue;
}

.memberDetails {
    text-align: justify;
    padding: 20px;
    font-weight: lighter;
}

.memberPic {
    border: 2px solid black;
    object-fit: fill;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.memberName{
  font-size: 22px;
}