.ad-container {
	position: fixed;
	bottom: 5;
	height: 660px;
	width: 200px;
	z-index: 1;
}

.ad-container#left {
	left: 10px;
}

.ad-container#right {
	right: 10px;
}

.ad {
	height: 100%;
	width: 100%;
	margin: 30px auto 0 auto;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}


