

.faqsTitle {
    text-align: left;
    margin-left: 285px;
}

.faqs .faqsCard:nth-child(odd) {
    background-color: lightgreen;
}

.faqs .faqsCard:nth-child(even) {
    background-color: lightcoral;
}

.faqsCard {
    padding: 10px;
}

.question {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}