body {
    position: relative;
    /* display: flex;
    flex-direction: column; */
    min-height: 100vh;
}

footer {
    width: 100%;
    position:absolute;
    /* position: sticky; */
    bottom: 50px;
    flex-shrink: 0;
}

#footerRuler {
  position: relative;
  bottom: -30px;
  width: 99%;
}

.footerButton {
  position: relative;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  z-index: 2;
  bottom: -40px;
  background-color: black;
  color: white;
  font-size: 16px;
}

#toAbout {
  left: 18%;
}

#toFaqs {
  left: 28%;
}

.copyright {
  font-size: 16px;
  position: absolute;
  bottom: -38px;
  right: 18%;
}
