body {
    margin: 0;
    padding: 0;
}

header {
    /* position: fixed; */
    top: 0;
    left: 0;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    background-color: #231328;
    color: #fff;
    border-bottom: 5px solid #000; 
}

.burgerNav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 10000;
    background-color: #231328;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.burgerNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.1s;
}

.navButtons a:hover {
  background-color: #f1f1f1;
  color: #231328;
}

.burgerNav .closeBurger {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px){
  .burgerNav {padding-top: 15px;}
  .burgerNav a {font-size: 18px;}
}

.banner-link {
  text-decoration: none;
  color: #fff;
}

.header-banner, .logo {
  margin-left: 100px;
  display: flex;
  align-items: center;
  color: #fff;

}

#pangkot {
    color: white;
}

.burgerIcon {
  font-size: 40px;
}

.burgerIcon:hover{
  cursor: pointer;
  color: #818181;
}

.logo img {
  height: 50px;
  margin-right: 10px;
  border-radius: 180px;
}

.logo h1 {
  font-size: 24px;
  margin: 0 15px 0 0;
  padding: 10px .5em 13px 0;
}

.user-profile-button {
  padding: 10px 20px;
  margin-left: 10px;
  border: 2px solid #e8e8e8;
  border-radius: 15px;
  background-color: #fff;
  color: #231328;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;  
  font-size: 24px;
}

.user-profile-button:hover {
    color: #fff;
    background-color: #231328;
}

.user-profile {
  position: relative;
  display: inline-block;
}

.user-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.user-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.user-content a:hover {background-color: #ddd;}

.user-profile:hover .user-content {display: block;}

/* .user-profile:hover .user-profile-button {background-color: #3e8e41;} */