* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-container {
  width: 500px;
  margin: 100px auto 20px;
  padding: 50px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.logo-container img {
  max-width: 150px;
  height: auto;
}

.form-container {
  margin: 0 auto;
}

.form-group {
  position: relative;
  margin-bottom: 35px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 2px solid #2196f3;
  border-radius: 30px;
  outline: none;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.form-group input:focus {
  border-color: #4CAF50;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.form-group label {
  position: absolute;
  left: 10px;
  top: 14px;
  font-size: 16px;
  color: #8e8e8e;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.form-group input:focus + label,
.form-group input:valid + label {
  top: -20px;
  font-size: 20px;
  color: #4CAF50;
}

.forgot-password {
  display: block;
  text-align: center;
  margin: 8px auto;
  font-size: 22px;
  font-family: Apple Chancery, cursive;
  color: blue;
  border: none;
  background-color: transparent; 
}



.login-btn {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 2px solid #2196f3;
  border-radius: 30px;
  background-color: #2196f3;
  color: #fff;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.login-btn:hover {
  background-color: #4CAF50;
  border-color: #4CAF50;
}


.form-group {
  margin-bottom: 20px;
  text-align: center;
}

.dontHaveAcc {
  font-size: 18px;
  color: black;
}

.dontHaveAcc a {
  color: blue;
  text-decoration: none;
}

.dontHaveAcc a:hover {
  color: green;
  text-decoration: underline;
}
