* {
  font-family: Arial, Helvetica, sans-serif;
}

/* body {
  background-color: #4d3355;
} */

::-webkit-scrollbar  {
    width: 0px;               /* width of the entire scrollbar */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-and-time {
  margin: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-time-info {
  display: flex;
  align-items: center;
  position: absolute;
  right: 320px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.card {
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(82, 42, 68);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #48aaad;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  width: 900px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.flashcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(95, 58, 82);
  padding: 20px 10px 0;
  margin: 10px;
  border-radius: 5px;
  background-color: #52b2bf;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  width: 900px;
  height: 500px;
  position: relative;
}

.flashcard-info {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  height: 55%;
  background-color: white;
  padding: 20px;
}

#card-title {
  text-align: center;
  font-size: 20px;
}

#minutes,
#seconds {
  width: 60px; /* Adjust the width as per your preference */
}

.flashcard-info td {
  padding: 5px 40px;

}

.flashcard-info tr:nth-child(1),
.flashcard-info tr:nth-child(2) {
  text-align: center;
}


.card h2 {
  margin-top: 0;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}

#description {
  width: 250px;
  height: 150px;
  word-wrap: break-word;
  word-break: break-all;
}

.button-container {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  position: absolute;
  bottom: 500px;
  left: 50%;
  transform: translateX(-50%);
}

.button-container button {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

#back-btn,
#next-btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 30px;
  border: 1px solid #000;
  cursor: pointer;
}

#choose-group-container {
  margin: 20px;
}

#choose-group-container label {
  display: block;
  margin-bottom: 10px;
}

#group-select {
  width: 200px;
  padding: 5px;
  height: 50px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

#submit-btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #48aaad;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border: 1px solid black;
}

.question-input{
  width: 80%;
  height: 150px;
  resize: vertical;
}
.answer-input {
  width: 50%;
  height: 100px;
  resize: vertical;
}

.question-input,
.answer-input {
  margin: 0 auto; /* Add this line to center the input horizontally */
  display: block; /* Add this line to remove the default inline behavior */
  border-radius: 10px;
  margin: 0 auto 100px;
  border: solid 1px black;
  padding: 10px 20px;
}

.card {
  /* Existing styles for the card */
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(0);
}

.card.hidden-next {
  opacity: 0;
  transform: translateX(100%);
}

.card.hidden-back {
  opacity: 0;
  transform: translateX(-100%);
}
